@font-face {
    font-family: "Source Code Pro";
    src: url("/static/lib/font/sourcecodepro.ttf") format("truetype");
}

#app-install {
    color: cornflowerblue !important;
    cursor: pointer !important;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: sans-serif;
}

#fp-nav ul li a span {
    background-color: white;
    box-shadow: 0 0 4px black;
}

.fp-slidesNav ul li a span {
    background-color: white;
    box-shadow: 0 0 4px black;
}

.fp-controlArrow.fp-next {
    margin-right: 30px;
}

.div-center {
    text-align: center;
    color: black;
}

#s1 div {
    background: linear-gradient(rgba(15, 15, 15, 0.9), rgba(15, 15, 15, 0.9)),url("/static/index/background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

@keyframes intro-h1 {
    from {
        width: 0;
    }
    to {
        width: 700px;
    }
}

#sdd1 {
    display: inline-block;
    overflow: hidden;
    animation: intro-h1 0.7s steps(400);
}

#intro {
    font-family: "Source Code Pro";
    font-size: 15em;
    font-weight: 600;
    margin: 0;
}

#s1 div > p {
    font-size: 1.1vw;
}

#sdd2_1 > div:nth-child(1) > h1 {
    font-size: 8em;
    margin: 0;
    padding: 0;
}

#sdd2_1 > div:nth-child(2) > span, #sdd2_1 > div:nth-child(2) > p {
    font-size: 2em;
}

#sdd2_2 {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sdd2_2 > div {
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid #000000;
    padding: 0;
}

#sdd2_2 > div > img {
    border-bottom: 1px solid #000000;
}

#sdd2_2 div div h1 {
    font-size: 1.1em;
}

#sdd2_2 img {
    width: 300px;
    height: 300px;
}

#s3 {
    color: white;
    font-size: 20pt;
}